<!-- Tab ui -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css">
<script>
    $(function() {
        $( "#tabs" ).tabs();
    });
</script>


<!-- Form ui -->
<%= form_for @contact_form,:remote => true do  |f| %>
    <% if @contact_form.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@contact_form.errors.count, "error") %> prohibited this contact_form from being saved:</h2>

          <ul>
            <% @contact_form.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :firstname %><br>
      <%= f.text_field :firstname,:required => true %>
    </div><br>
    <div class="field">
      <%= f.label :lastname %><br>
      <%= f.text_field :lastname,:required => true %>
    </div><br>

    <div id="tabs">
      <ul>
        <li><a href="#tabs-1">Addresses Details</a></li>
        <li><a href="#tabs-2">Communication Details</a></li>
      </ul>
      <div id="tabs-1">
        <%= f.fields_for :addresses do |builder| %>
            <%= render 'address_fields', f: builder %>
        <% end %>
        <%= link_to_add_fields "Add Address & Country", f, :addresses %><br><br>
      </div>
      <div id="tabs-2">
        <%= f.fields_for :phones do |phonebuilder| %>
            <%= render 'phone_fields', f: phonebuilder %>
        <% end %>
        <%= link_to_add_fields "Add Phone Numbers", f, :phones %><br><br>
      </div>
    </div><br>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>



